<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    <title>Socialhunter</title>
    <link rel="stylesheet" href="../css/indexPage.css" type="text/css" />
    <link rel="shortcut icon" href="../images/logo.png" type="image/png" />
</head>

<body>
    <div class="container ind-search-cont-search-inactive" id="index-search-container">
        <img class="logo logo-search-inactive" id="socialhunter-logo" src="../images/socialhunter.png" />
        <div class="container form" id="search-form">
            <input class="text" id="search-field" type="text" name="q" placeholder="Search" />
            <input class="btn" id="search-btn" type="submit" value="Hunt!" />
        </div>
    </div>
    <div class="container ind-res-cont-search-inactive" id="index-result-container">
        <div class="result">
        </div>
        <div class="result">
        </div>
        <div class="result">
        </div>
        <div class="result">
        </div>
        <div class="result">
        </div>
        <div class="result">
        </div>
    </div>
    <script src="../js/indexPage.js"></script>
</body>

</html>

{{!-- 

Line 18 <div class="container ind-search-cont-search-inactive" id="index-search-container">

Line 16 <div class="container form form-search-inactive" id="search-form">

 --}}