<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>socialhunter</title>
    <link rel="stylesheet" href="../css/indexPage.css" type="text/css" />
</head>

<body>
    <img id="img" src="../images/main_logo.png" />
    <div id="cont">
        <input id="search" type="text" placeholder="Search" />
        <input id="btn" type="button" value="Go!" />
    </div>
</body>

</html>