<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#778A99">
    <title>ORION</title>
    <link rel="stylesheet" href="css/indexPage/main.css" type="text/css" id="main-stylesheet"/>
    <link rel="shortcut icon" href="images/icon.webp" type="image/webp" />
</head>

<body>
    <div class="container ind-search-cont-search-inactive" id="index-search-container">
        <img class="logo logo-search-inactive" id="orion-logo" src="images/logo.webp" type="image/webp"/>
        <div class="container form" id="search-form">
            <input class="text-field" id="search-field" type="text" placeholder="Someone/Something" />
            <input class="btn" id="search-btn" type="button" value="Hunt!" />
        </div>
    </div>
    <div class="container ind-res-cont-search-inactive" id="index-result-container">     
    </div>
    <div class="page-element" id="snackbar">
        <p id="snackbar-text"></p>
    </div>
    {{!-- <p class="element" id="copyright">&copy Araekiel 2020</p> --}}
    
    <script src="js/utils/jquery.js"></script>
    <script src="js/utils/snackbarController.js"></script>
    <script src="js/indexPage.js"></script>
</body>

</html>
