<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socialhunter</title>
    <link rel="stylesheet" href="../css/indexPage.css" type="text/css" />
    <link rel="shortcut icon" href="../images/logo.png" type="image/png" />
</head>

<body>
    <img class="logo" id="socialhunter-logo" src="../images/socialhunter.png" />
    <div class="container" id="search-container">
        <input class="text" id="search-bar" type="text" placeholder="Search" />
        <input class="btn" id="search-btn" type="button" value="Go!" />
    </div>
</body>

</html>