@font-face {
  src: url(./../fonts/mont.otf);
  font-family: "Mont";
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #e0e3e8;
}

/* 
#index-search-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#index-search-container::-webkit-scrollbar-thumb {
  background: transparent;
} */

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo-search-active {
  margin-top: 0px;
  height: 60px;
  width: 180px;
  transition: 0.1s linear;
}

.logo-search-inactive {
  margin-top: 150px;
  height: 200px;
  width: 600px;
  /* transition: 0.1s linear; */
}

.ind-search-cont-search-active {
  height: 140px;
  transition: 0.1s linear;
}

.ind-search-cont-search-inactive {
  height: 100%;
}

.ind-res-cont-search-active {
  background-color: rgba(0, 0, 0, 0.1);
}

.ind-res-cont-search-inactive {
  display: none;
  background-color: transparent;
}

#index-search-container {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#index-search-container #socialhunter-logo {
  cursor: pointer;
}

#index-search-container #search-form {
  text-align: center;
  position: relative;
  margin: auto;
  height: 48px;
  width: 578px;
  border-radius: 40px;
}

#index-search-container #search-form #search-field {
  float: left;
  height: 48px;
  width: 478px;
  background-color: white;
  border: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  text-align: center;
  font-size: 15px;
}

#index-search-container #search-form #search-field::placeholder {
  color: grey;
}

#index-search-container #search-form #search-btn {
  float: left;
  height: 50px;
  width: 100px;
  font-size: 18px;
  background-color: #f93a29;
  color: white;
  border: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-family: "Mont", sans-serif;
}

#index-result-container {
  position: fixed;
  top: 140px;
  min-height: 80%;
  height: auto;
  width: 100%;
  z-index: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .logo-search-active {
    margin-top: 0px;
    height: 100px;
    width: 300px;
  }

  .logo-search-inactive {
    margin-top: 450px;
    height: 300px;
    width: 900px;
  }

  .ind-search-cont-search-active {
    height: 220px;
  }

  #index-search-container #search-form {
    width: 900px;
    height: 96px;
    border-radius: 20px;
  }

  #index-search-container #search-form #search-field {
    height: 96px;
    width: 725px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 40px;
  }

  #index-search-container #search-form #search-btn {
    height: 98px;
    width: 175px;
    font-size: 44px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 98px;
  }

  #index-result-container {
    top: 240px;
  }
}
