@font-face {
  src: url(./../fonts/mont.otf);
  font-family: "Mont";
}

body {
  text-align: center;
  background-color: #e0e3e8;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#socialhunter-logo {
  margin-top: 100px;
  height: 200px;
  width: 600px;
}

#search-container {
  display: block;
  text-align: center;
  margin: auto;
  height: auto;
  width: 580px;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
  border-radius: 40px;
}

#search-container #search-bar {
  height: 40px;
  width: 475px;
  background-color: white;
  border: 2px solid white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  color: black;
  text-align: center;
  font-size: 15px;
}

#search-container #search-bar::placeholder {
  color: grey;
}

#search-container #search-btn {
  display: inline-block;
  height: 46px;
  width: 100px;
  font-size: 16.5px;
  background-color: #f93a29;
  color: #f0f0f0;
  border: 2px solid #f93a29;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  margin-left: -4px;
  font-family: "Mont", sans-serif;
}
