@font-face {
  src: url(./../fonts/mont.otf);
  font-family: "Mont";
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  width: 10px;
  background: #f93a29;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #e0e3e8;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo-search-active {
  margin-top: 0px;
  height: 60px;
  width: 180px;
  transition: 0.1s linear;
}

.logo-search-inactive {
  margin-top: 150px;
  height: 200px;
  width: 600px;
}

.ind-search-cont-search-active {
  height: 140px;
  transition: 0.1s linear;
}

.ind-search-cont-search-inactive {
  height: 100%;
}

.ind-res-cont-search-active {
  display: content;
}

.ind-res-cont-search-inactive {
  display: none;
  background-color: transparent;
}

#index-search-container {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 1;
  transform: translateZ(0);
}

#index-search-container #socialhunter-logo {
  cursor: pointer;
  transform: translateZ(0);
}

#index-search-container #search-form {
  text-align: center;
  position: relative;
  margin: auto;
  height: 50px;
  width: 600px;
  border-radius: 10px;
  transform: translateZ(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#index-search-container #search-form:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#index-search-container #search-form #search-field {
  float: left;
  height: 48px;
  width: 480px;
  background-color: white;
  border: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
}

#index-search-container #search-form #search-field::placeholder {
  color: grey;
}

#index-search-container #search-form #search-btn {
  float: left;
  height: 50px;
  width: 100px;
  font-size: 18px;
  background-color: #f93a29;
  color: white;
  border: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-family: "Mont", sans-serif;
}

#index-result-container {
  position: relative;
  top: 0px;
  min-height: 80%;
  height: auto;
  width: 100%;
  z-index: 0;
  margin-bottom: 40px;
}

#index-result-container .result-card {
  position: relative;
  display: block;
  margin: auto;
  min-height: 250px;
  height: auto;
  width: 600px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.1s ease-in;
  overflow: hidden;
}

#index-result-container .result-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#index-result-container .result-card .result-card-image {
  width: 600px;
}

#index-result-container .result-card p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}

#index-result-container .loader {
  margin: auto;
  margin-top: 150px;
  border: 12px solid transparent;
  border-top: 12px double #f93a29;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spinLoader 0.75s linear infinite;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .logo-search-active {
    margin-top: 0px;
    height: 100px;
    width: 300px;
  }

  .logo-search-inactive {
    margin-top: 450px;
    height: 300px;
    width: 900px;
  }

  .ind-search-cont-search-active {
    height: 240px;
  }

  #index-search-container #search-form {
    width: 900px;
    height: 96px;
    border-radius: 20px;
  }

  #index-search-container #search-form #search-field {
    height: 96px;
    width: 700px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 42px;
  }

  #index-search-container #search-form #search-btn {
    height: 98px;
    width: 180px;
    font-size: 44px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 98px;
  }

  #index-result-container .result-card {
    min-height: 375px;
    height: auto;
    width: 900px;
    margin-top: 40px;
    border-radius: 20px;
  }

  #index-result-container .result-card .result-card-image {
    width: 900px;
  }

  #index-result-container .result-card p {
    font-size: 17px;
    margin: 20px;
  }

  #index-result-container .loader {
    margin-top: 450px;
    border: 16px solid transparent;
    border-top: 16px double #f93a29;
    width: 120px;
    height: 120px;
  }
}

/* .card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
