@font-face {
  src: url(./../fonts/mont.otf);
  font-family: "Mont";
}

body {
  background-color: #e0e3e8;
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#search-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

#search-container #topbar {
  margin: 0px;
  padding: 0px;
  height: 60px;
  width: 100%;
}

#search-container #topbar #topbar-logo {
  height: 65px;
  width: 195px;
  margin: -2px 0px 0px 50px;
}
