<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    <title>{{ searchTerm }} | Socialhunter</title>
    <link rel="stylesheet" href="../css/searchPage.css" type="text/css" />
    <link rel="shortcut icon" href="../images/logo.png" type="image/png" />
</head>

<body>
    <div class="container" id="search-container">
        <div class="container" id="topbar">
            <img class="topbar-element" id="topbar-logo" src="../images/socialhunter.png" />
        </div>
    </div>
</body>

</html>