@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
  src: url(./../../fonts/mont.otf);
  font-family: "Mont";
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    bottom: -40px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -40px;
    opacity: 0;
  }
}


/********************************************* Main *********************************************/
html {
  overflow-y: scroll;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #e0e3e8;
  /* text-align: center; */
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo-search-active {
  margin-top: 0px;
  height: 60px;
  width: 180px;
  transition: 0.1s linear;
}

.logo-search-inactive {
  margin-top: 150px;
  height: 200px;
  width: 600px;
}

.ind-search-cont-search-active {
  height: 140px;
  transition: 0.1s linear;
}

.ind-search-cont-search-inactive {
  height: 100%;
}

.ind-res-cont-search-active {
  display: content;
}

.ind-res-cont-search-inactive {
  display: none;
  background-color: transparent;
}

#index-search-container {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 1;
  transform: translateZ(0);
}

#index-search-container #socialhunter-logo {
  cursor: pointer;
  transform: translateZ(0);
}

#index-search-container #search-form {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  margin: auto;
  height: 50px;
  width: 610px;
  border-radius: 10px;
  transform: translateZ(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#index-search-container #search-form:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#index-search-container #search-form #search-field {
  height: 48px;
  width: 490px;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
}

#index-search-container #search-form #search-field::placeholder {
  color: grey;
}

#index-search-container #search-form #search-btn {
  height: 50px;
  width: 100px;
  font-size: 18px;
  background-color: #f93a29;
  color: white;
  border: 0px;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-family: "Mont", sans-serif;
}

#index-result-container {
  position: relative;
  top: 0px;
  min-height: 80%;
  height: auto;
  width: 100%;
  z-index: 0;
  margin-bottom: 40px;
}

#index-result-container .loader {
  margin: auto;
  margin-top: 150px;
  border: 12px solid transparent; 
  border-top: 12px double #f93a29;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spinLoader 0.75s linear infinite;
}

#snackbar {
  background-color: #f93a29;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  text-align: center;
  visibility: hidden;
  transform: translateZ(0);
}

#snackbar p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 100%;
  font-size: 15px;
  color: white;
  transform: translateZ(0);
}

.snackbar-visible {
  visibility: visible !important;
  animation: fadein 0.5s, fadeout 0.5s 2s;
  transform: translateZ(0);
}   
/* 
#copyright {
  margin: 20px 0px 10px 0px;
  color: #B3BCC7;
  font-family: "Roboto", sans-serif;
  bottom: 75px;
  left: -20px;
  font-size: 14px;
} */
/********************************************* Main *********************************************/

/***************************************** Result Card ******************************************/
#index-result-container .result-card {
  padding: 5px;
  position: relative;
  display: block;
  margin: auto;
  /* min-height: 240px; */
  height: auto;
  width: 600px;
  margin-top: 30px; 
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.1s ease-in;
  overflow: visible;
}

#index-result-container .result-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#index-result-container .result-card .result-card-main-content {
  position: relative;
  margin-top: 25px;
  width: 550px;
  left: 50%;
  margin-left: -275px;
}

#index-result-container .result-card .result-card-main-content .result-card-media {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  width: 100%;
}

#index-result-container .result-card .result-card-main-content .result-card-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 15px 0px 10px 0px;
  width: 100%;
  overflow-wrap: break-word;
  text-align: left;
}

#index-result-container .result-card .result-card-main-content .result-card-twitter-tweet-username {
  color: #f93a29;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  left: 0px;
}

#index-result-container .result-card .result-card-stat-container {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 550px;
  margin-left: 25px;
  margin-bottom: 25px;
}

#index-result-container .result-card .result-card-stat-container .result-card-stat {
  height: auto;
  border-right: 1px solid #d3d3d3;
}

#index-result-container .result-card .result-card-stat-container .result-card-stat-4col{
  width: 137.5px;
}

#index-result-container .result-card .result-card-stat-container .result-card-stat-3col{
  width: 183px;
}

#index-result-container .result-card .result-card-stat-container .result-card-stat-right {
  border: 0px;
}

#index-result-container .result-card .result-card-stat-container .result-card-stat-value {
  height: 30px;
  width: 30px;
  font-size: 24px;
  color: #f93a29;
}

#index-result-container .result-card .result-card-stat-container .result-card-stat-name {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

#index-result-container .result-card .result-card-stat-container .result-card-stat-img {
  height: 24px;
  width: 24px;
  margin-top: 1.5px;
}

#index-result-container .result-card .result-card-instagram-user-dp {
  position: relative;
  margin-top: 40px;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  border-radius: 75px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#index-result-container .result-card .result-card-instagram-user-name {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: auto;
  margin-top: 20px;
  overflow-wrap: break-word;
  text-align: center;
  font-weight: bold;
}

#index-result-container .result-card .result-card-instagram-user-username {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: auto;
  overflow-wrap: break-word;
  text-align: center;
  color: grey;
  margin-top: 10px;
}

#index-result-container .result-card .result-card-stat-container-user {
    margin-top: 30px;
    margin-bottom: 25px;
}

#index-result-container .result-card .result-card-link {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 0px;
  float: right;
  bottom: -10px;
  right: -10px;
  background: #f93a29;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#index-result-container .result-card .result-card-link .result-card-link-img {
  margin-top: 12.5px;
  height: 25px;
  width: 25px;
}
/***************************************** Result Card ******************************************/


@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /*************************************** Main Media Query ***************************************/
  .logo-search-active {
    margin-top: 0px;
    height: 100px;
    width: 300px;
  }

  .logo-search-inactive {
    margin-top: 450px;
    height: 300px;
    width: 900px;
  }

  .ind-search-cont-search-active {
    height: 240px;
  }

  #index-search-container #search-form {
    width: 910px;
    height: 96px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  #index-search-container #search-form #search-field {
    height: 96px;
    width: 710px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 42px;
  }

  #index-search-container #search-form #search-btn {
    height: 98px;
    width: 180px;
    font-size: 38px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 98px;
  }

  #index-result-container .loader {
    margin-top: 450px;
    border: 28px solid transparent;
    border-top: 28px double #f93a29;
    width: 180px;
    height: 180px;
  }

  #snackbar {
    height: 110px;
  }

  #snackbar p {
    font-size: 40px;
  }
  
  #copyright {
    margin: 50px 0px 20px 0px;
    font-size: 2em;
  }
  /*************************************** Main Media Query ***************************************/

  /*********************************** Result Card Media Query ************************************/
  #index-result-container .result-card {
    height: auto;
    width: 900px;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  #index-result-container .result-card .result-card-main-content {
    width: 800px;
    left: 50%;
    margin-left: -400px;
    margin-top: 50px;
  }

  #index-result-container .result-card .result-card-main-content .result-card-media {
    border-radius: 10px;
  }
  
  #index-result-container .result-card .result-card-main-content .result-card-text {
    font-size: 18px;
    margin: 20px 0px 20px 0px;
  }

  #index-result-container .result-card .result-card-main-content .result-card-twitter-tweet-username {
    font-size: 24px;
    font-weight: 500;
  }
  
  #index-result-container .result-card .result-card-stat-container {
    width: 800px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  #index-result-container .result-card .result-card-stat-container .result-card-stat {
    height: auto;
    border-right: 1px solid grey;
  }

  #index-result-container .result-card .result-card-stat-container .result-card-stat-4col {
    width: 225px;
  }

  #index-result-container .result-card .result-card-stat-container .result-card-stat-3col {
    width: 300px;
  }

  #index-result-container .result-card .result-card-stat-container .result-card-stat-right {
    border: 0px;
  }

  #index-result-container .result-card .result-card-stat-container .result-card-stat-value {
    font-size: 48px;
  }

  #index-result-container .result-card .result-card-stat-container .result-card-stat-name {
    font-size: 28px;
    font-weight: 500;
  }

  #index-result-container .result-card .result-card-stat-container .result-card-stat-img {
    height: 48px;
    width: 48px;
    margin-top: 3px;
  }

  #index-result-container .result-card .result-card-instagram-user-dp {
    margin-top: 75px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    border-radius: 150px;
  }

  #index-result-container .result-card .result-card-instagram-user-name {
    font-size: 35px;
    margin-top: 40px;
  }

  #index-result-container .result-card .result-card-user-username {
    font-size: 24px;
    margin-top: 10px;
  }

  #index-result-container .result-card .result-card-stat-container-user {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  #index-result-container .result-card .result-card-link {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    float: right;
    bottom: -20px;
    right: -20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  #index-result-container .result-card .result-card-link .result-card-link-img {
    margin-top: 25px;
    height: 50px;
    width: 50px;
  }
  /*********************************** Result Card Media Query ************************************/
}

