@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .logo-search-active {
    margin-top: 0px;
    height: 100px;
    width: 300px;
  }

  .logo-search-inactive {
    margin-top: 450px;
    height: 300px;
    width: 900px;
  }

  .ind-search-cont-search-active {
    height: 240px;
  }

  #index-search-container #search-form {
    width: 910px;
    height: 96px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  #index-search-container #search-form #search-field {
    height: 96px;
    width: 710px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 42px;
  }

  #index-search-container #search-form #search-btn {
    height: 98px;
    width: 180px;
    font-size: 38px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 98px;
  }

  #index-result-container .loader {
    margin-top: 450px;
    border: 28px solid transparent;
    border-top: 28px double #f93a29;
    width: 180px;
    height: 180px;
  }

  #snackbar {
    height: 110px;
  }

  #snackbar p {
    font-size: 40px;
  }
  
  #copyright {
    display: none;
  }
}